
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Express + Browserify.</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<main role="main">
Submissions:

<table border=1>
		<tr>
			<td><b>Ricevuta</b></td>
	    	<td><b>Commento</b></td>
	    	<td><b>Immagine</b></td>
	    	<td><b>Gradimento</b></td>
	   </tr>
	<% for(var i=0; i < users.length; i++) { %>
		<tr>
			<td><%= users[i].created %></td>
	    	<td><%= users[i].comment %></td>
	    	<td>
	    	<img src="data:image/png;base64,<%= users[i].photo %>" style="width:40%;height:40%;" alt="Red dot" />
			</td>
			<td><%= users[i].mi_piace %></td>
	    </tr>
	<% } %>
</table>
</main>
</body>
</html>