@font-face {
  font-family: 'Cousine';
  font-style: normal;
  font-weight: 400;
  src: local('Cousine'), url(https://fonts.gstatic.com/s/cousine/v10/NTdCinGjUMmhTwY-K0CAUALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
