
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
@import url(https://fonts.googleapis.com/css?family=Cousine);

/*
@font-face { font-family: "OpenSansLight"; src: url("OpenSans-Light.ttf"); }
@font-face { font-family: "OpenSansRegular"; src: url("OpenSans-Regular.ttf"); }
@font-face { font-family: "OpenSansBold"; src: url("OpenSans-Semibold.ttf"); }
*/

html {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: #2C2323;
	border: none;
	margin: 0 auto;
	text-align: left;
	background: #fff;
	overflow: hidden;
	zoom: 100%;
}

img {
	max-width: 100%;
	margin-top: 16px;
	margin-bottom: 10px;
}

a, a code {
	color: #275EC7;
	text-decoration: underline;
	white-space: nowrap;
}

a:hover {
	color: #292929;
	outline: none !important;
}
	
h1 {
	margin: 0px 0px 20px -1px;
	padding: 0px;
	font-size: 180%;
	font-weight: 600;
	color: #343030;
}
h1 a, h1 a:hover { color: #343030; text-decoration: none;
	cursor: default;  /* prevents active cursor on header (Pandoc makes them links but they go nowhere) */
}

h2, .h2-override {
	margin: 14px 0px 20px -1px;
	font-size: 150%;
	font-weight: 600;
	padding: 18px 0px 8px 0px;
	border-bottom: 1px solid #e4e3e3;
	color: #343030;
}
h2 a, h2 a:hover { color: #343030; text-decoration: none;
	cursor: default;  /* prevents active cursor on header (Pandoc makes them links but they go nowhere) */
}

h3, .h3-override, .small-header {
	margin: 20px 0px 0px -1px;
	padding: 0px;
	font-size: 120%;
	font-weight: 600;
}
h3 a, h3 a:hover { color: #343030; text-decoration: none;
	cursor: default;  /* prevents active cursor on header (Pandoc makes them links but they go nowhere) */
}

h4 {
	margin-top: 24px;
	margin-bottom: 1px;
	padding: 0px;
	font-size: 105%;
	font-weight: 400;
	color: #343030;
}
h4 a { color: #343030; text-decoration: none; font-weight: 400;
	cursor: default;  /* prevents active cursor on header (Pandoc makes them links but they go nowhere) */
}
h4 a:hover { color: #292929; }

h5 {
	margin-top: 12px;
	margin-bottom: 0px;
	padding: 0px;
	font-size: 14px;
	font-weight: 600;
	color: #343030; /*5a5757*/
}
h5 a, h5 a:hover { color: #343030; font-weight: 600; text-decoration: none; cursor: default; }

h6 {
	margin: 18px 0px 2px -1px;
	padding: 0px;
	font-size: 110%;
	font-weight: 600;
}
h6 a, h6 a:hover { color: #343030; text-decoration: none;
	cursor: default;  /* prevents active cursor on header (Pandoc makes them links but they go nowhere) */
}

p {
	margin-top: 9px;
	margin-bottom: 1px;
	font-size: 100%;
}

p.caption {
	text-align: center;
	font-weight: 700;
	font-size: 12px;
	margin: 0 15px 0 0;
}


/* ------------------------------------------------------------
OVERRIDES FOR PANDOC-GENERATED TAGS
------------------------------------------------------------ */

.level5 p { margin-top: 0px; }
.level4 p { margin-top: 6px; }
.level5 ul { margin-bottom: 10px; }
.level5 p em { font-weight: 400; font-style: normal; }
.level4 p em { font-weight: 400; font-style: normal; }

/* override style for sub-topics in API example(s) section */
#example .level5 h5 a, #examples .level5 h5 a {
	font-size: 15px;
}
#example .level5 pre, #examples .level5 pre {
	margin-top: 8px;
}

/* override styles for list of functions and properties within an API/library */
.level4 h4 a {
	/*font-size: 16px;*/
	font-weight: 400;
	margin: 0px;
	padding: 0px;
	color: #325baa;
	line-height: 8px;
}
.level4 h4 a:hover { color: #292929; cursor: pointer;  /* re-actives cursor */ }
.h4-reduced-space h4 a { line-height: 0px; }

/* override styles for sub-category links on API index page */
#libraries .level4 h4 a, #events .level4 h4 a, #types .level4 h4 a {
	font-size: 15px;
	text-decoration: none;
	color: #504e4e;
	font-weight: 600;
	line-height: 24px;
	cursor: pointer;  /* re-actives cursor */
}

/* overrides for plugins with uncommon nested Events or Types subdirectories */
div[id="fuse."] div#events.section.level2[id="events"] { display: none; }
div[id="iads."] div#events.section.level2[id="events"] { display: none; }
div[id="admob."] div#events.section.level2[id="events"] { display: none; }
div[id="icloud.-beta"] div#events.section.level2[id="events"] { display: none; }
div[id="icloud."] div#events.section.level2[id="events"] { display: none; }
div[id="icloud.-beta"] div#types.section.level2[id="types"] { display: none; }
div[id="icloud."] div#types.section.level2[id="types"] { display: none; }
div[id="combre.-appsaholic-commercial-break"] div#events.section.level2[id="events"] { display: none; }
div[id="fbaudiencenetwork."] div#events.section.level2[id="events"] { display: none; }
div[id="coronaads."] div#events.section.level2[id="events"] { display: none; }


/* ------------------------------------------------------------
OTHER CORE STYLES
------------------------------------------------------------ */

p.index {
	margin-top: 2px;
	margin-bottom: 0px;
	font-size: 100%;
	font-weight: 400;
	color: #2C2323;
}
p.index a { text-decoration: none; }  /* prevents underline for links on API index page */

b, strong {
	font-style: normal;
	font-weight: 600;
	color: #000;
}

.small-bold {
	font-size: 88%;
	font-weight: bold;
	white-space: nowrap;
}

em, i {
	font-weight: 400;
}

hr {
	height: 1px;
	background: #e4e3e3;
	border: 0px;
	margin: 50px -60px 50px;
	padding: 0px;
}

blockquote {
	margin-left: 0px;
}

.newline {
	border-bottom: 1px solid #e4e3e3;
	width: 100%;
	clear: both;
}


/* ------------------------------------------------------------
CODE BLOCKS / CODE COLORING OVERRIDE
------------------------------------------------------------ */

pre, code {
	font-size: 12px;
	line-height: 18px;
	font-family: "Cousine", "Monaco", monospace;
	font-style: normal !important;
	font-weight: normal !important;
}

pre {
	border: 1px solid rgba(2,0,0,0.1);
	background-color: #fcfbfb !important;
	display: block;
	margin: 14px 0px 22px 0px;
	overflow: auto;
	padding: 8px 10px 5px 10px;
	white-space: pre;
}

code {
	border: 1px solid rgba(2,0,0,0.08);
	background-color: #fcfbfb !important;
	color: #444455 !important;
	padding: 2px 4px 0px 4px;
}

pre code {
	padding: 0;
	margin: 0px;
	border: none;
	overflow: visible;
}

code.lua { color: #125EC8 !important; font-weight: normal !important; }				/* default */
code > span.kw { color: #125EC8 !important; font-weight: normal !important; }		/* " */
code > span.dt { color: #125EC8 !important; font-weight: normal !important; }		/* " */
code > span.dv { color: #9610CD !important; font-weight: normal !important; }		/* numbers */
code > span.bn { color: #9610CD !important; font-weight: normal !important; }		/* " */
code > span.fl { color: #9610CD !important; font-weight: normal !important; }		/* " */
code > span.ch { color: #9610CD !important; font-weight: normal !important; }		/* " */
code > span.st { color: #444455 !important; font-weight: normal !important; }		/* strings */
code > span.co { color: #a9a9c0 !important; font-style: normal !important; }		/* comments */
code > span.al { color: #a9a9c0 !important; font-weight: normal !important; }			/* " */
code > span.er { color: #a9a9c0 !important; font-weight: normal !important; }			/* " */
code > span.ot { color: #444455 !important; font-style: normal !important; }		/* operators */
code > span.fu { color: #125EC8 !important; font-style: normal !important; }		/* ? */


/* ------------------------------------------------------------
LIST ELEMENTS
------------------------------------------------------------ */

ul {
	list-style-type: square;
	padding: 0px;
	margin: 12px 0px 10px 28px;
}

ol {
	padding: 0px;
	margin: 12px 0px 10px 28px;
}

ul li, ol li {
	margin-top: 8px;
}

ul ul, ol ul {
	list-style: square;
	margin: 4px 0px 14px 20px;
}

ol ol, ul ol {
	margin: 4px 0px 14px 20px;
}

ul ul li, ol ol li, ul ol li, ol ul li {
	font-size: 14px;
	line-height: 21px;
	margin-top: 2px;
	color: #888;
}


/* ------------------------------------------------------------
API TABLE STYLES
------------------------------------------------------------ */

blockquote table {
	border-collapse: collapse;
	margin: 8px 0px 8px 0px;
	padding: 0px;
}
blockquote table { margin: 0px 0px -4px 0px; }

blockquote table tr.even td, blockquote table tr.odd td {
	margin: 0px;
	padding: 0px 30px 0px 0px;
	vertical-align: baseline;
}
blockquote tr.even td, blockquote table tr.odd td {
	line-height: 26px;
}

blockquote table tr.even td a, blockquote table tr.odd td a {
	text-decoration: none;
}

blockquote table tr td strong, blockquote table tr td em {
	font-style: normal;
	font-weight: 400;
	color: #666;
}

blockquote table tr td em {
	padding-left: 1px;
	color: #999;
}


/* ------------------------------------------------------------
MAIN PAGE SECTION
------------------------------------------------------------ */

.section.level1 {
	position: absolute;
	top: 74px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 30px 42px;
	left: 246px;
}


/* ------------------------------------------------------------
SEARCH BOX SECTION
------------------------------------------------------------ */

.SearchBar {
	position: absolute;
	display: block;
	overflow: hidden;
	top: 5px;
	right: 6px;
	z-index: 110;
}

.SearchBar form input[type=text] {
	background-color: #666;
	opacity: 0.8;
	width: 160px;
	border: 0px;
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 14px;
	color: #eee;
	padding: 3px 12px 3px 12px;
	-webkit-appearance: none;
	border-radius: 19px;
	outline: none;
	margin: 2px 0 0;
}

::-webkit-input-placeholder { color: #bbb; }
:-moz-placeholder { color: #bbb; opacity: 1; }
::-moz-placeholder { color: #bbb; opacity: 1; }
:-ms-input-placeholder { color: #bbb; }

.SearchBar form input[type=text]:focus {
	opacity: 1.0;
	outline: none;
}

.SearchBar form input[type=submit] {
	display: none;
	-webkit-appearance: none;
	border-radius: 18px;
}


/* ------------------------------------------------------------
TOC SECTION
------------------------------------------------------------ */

#TOC {
	position: absolute;
	bottom: 0;
	left: 0;
	top: 74px;
	width: 220px;
	text-overflow: ellipsis;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 28px 10px 12px 15px;
	margin: 0px;
	border-right: 1px solid #e4e3e3;
	}

#TOC a {
	color: #d45500; /*#e4640f;*/
	text-decoration: none;
	white-space: normal;
}

/* TOC level 1 (# in Markdown) */
#TOC ul {
	list-style-type: none;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
#TOC ul li {
	font-size: 14px;
	font-weight: 600;
	line-height: 17px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
#TOC ul li a {
	color: #403d3d;
	padding: 0px;
	margin: 0px;
}

/* TOC level 2 (## in Markdown) */
#TOC ul ul {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
#TOC ul ul li {
	font-size: 14px;
	font-weight: 400;
	padding: 16px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	cursor: pointer;
}
#TOC ul ul li a {
	color: #292929;
	padding: 0px;
	margin: 0px;
}

/* TOC level 3 (### or #### in Markdown) */
#TOC ul ul ul {
	margin: 4px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
#TOC ul ul ul li {
	font-size: 13px;
	font-weight: 400;
	margin: 0px 0px 0px 0px;
	padding: 3px 0px 0px 0px;
	cursor: pointer;
}
#TOC ul ul ul li a {
	color: #888;
	padding: 0px;
	margin: 0px;
}

/* TOC level 4 (### or #### in Markdown) */
#TOC ul ul ul ul {
	display: none;
}

#TOC ul ul li a:hover {
	color: #c25515; /*d45500 257CF5*/
}

#TOC ul ul ul li a code {
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 13px;
	margin-left: -3px;
	border: 0;
	background-color: none;
	color: #888 !important;
	text-decoration: none;
}


/* ------------------------------------------------------------
MEDIA QUERIES SECTION
------------------------------------------------------------ */

@media screen and ( max-device-width: 1200px ) {
	body { overflow: visible; width: auto; max-width: 1200px; }
	html { padding: 0px; }
	#TOC { display: none; overflow: visible; }
	.section.level1 { left: 0px; overflow: visible; }
}


/* ------------------------------------------------------------
NAV SECTION
------------------------------------------------------------ */

#nav {
	margin-top: 0px;
	padding-top: 0px;
	margin-left: 52px;
	overflow: auto;
}

#nav ul {
	padding-top: 0px;
	padding-left: 0px;
	margin-left:0px;
	margin-top: 6px;
	display: block;
	position: absolute;
	overflow: hidden;
}

#nav ul li {
	display: inline-block;
	list-style-type: none;
	padding-top: 0px;
	margin-top: 0px;
	padding-right: 28px;
	float: left;
	white-space: nowrap;
	font-weight: 400;
	font-size: 15px;
}

#nav a {
	color: #f6f6f6;
	font-weight: 400;
	text-decoration: none;
}

#nav a:hover {
	color: #dcdcdc;
}

#resources-link {
	display: none;
	position: absolute;
	right: 20px;
	color: #a14615;
	margin-top: 6px;
}

#resources-link a { color: #E89957; }
#resources-link a:hover { color: #d6854c; }

#footer {
	font-size: 14px;
	padding-top: 0px;
	margin-top: 0px;
	text-align: center;
	padding-bottom: 20px;
}

#footer p.copyright {
	font-size: 12px;
	color: #888;
}

#footer p.feedback {
	font-size: 14px;
	color: #292929;
	margin-bottom: 12px;
}

#footer a.feedback-button {
	background-color: #4E7FC2;
	color: white;
	padding: 4px 35px 5px 35px;
	border-radius: 4px;
	text-decoration: none;
	margin-top: 0px;
}
#footer a.feedback-button:hover { background-color: #426faf; }

/*
.header {
	display: none;
	/*width: 100%;
	height: 40px;
	background-color: #434141;
	position: absolute;
	top: 0px;
	left: 0px;
	display: block;
	overflow: hidden;
}
*/

.title {
	width: 100%;
	height: 40px;
	background-color: #434141;
	position: absolute;
	display: block;
	overflow: hidden;
	top: 0px;
	left: 0px;
	padding: 4px 0px 0px 6px;
}

.titleimg {
	background-image: url('../images/logo.png');
	background-repeat: no-repeat;
	background-size: 32px 32px;
	width: 32px;
	height: 32px;
	position: absolute;
	display: block;
	overflow: hidden;
	top: 4px;
	left: 6px;
	cursor: pointer;
}

/*
sup, sub, a.footnote {
	font-size: 70%;
	position: relative;
	top: 1px;
	padding: 0px;
	margin: 0px;
}

sub {
	top: -1px;
}
*/

sub sup {
	vertical-align: top;
	color: #777;
	padding: 0px 0px 0px 1px;
	margin: 0px;
	display: none;
}
h5 sub sup {
	font-size: 11px;
	font-weight: 400;
	position: relative;
	top: 1px;
	display: inline;
}

div#libraries { width: 33%; float: left; }
div#events { width: 33%; float: left; }
div#types { width: 33%; float: left; }
div#section { clear: both; }


/* ------------------------------------------------------------
PARAMETER TABLES
------------------------------------------------------------ */

#parameter-tables h4 {
	color: #df7003;
}


/* ------------------------------------------------------------
BREADCRUMB SECTION
------------------------------------------------------------ */

#breadcrumb {
	background-color: #e4e3e3;
	width: 120%;
	height: 32px;
	line-height: 30px;
	font-size: 14px;
	font-weight: 400;
	color: #494949;
	position: absolute;
	left: 0px;
	top: 40px;
	z-index: 100;
	overflow: hidden;
	display: block;
	padding-left: 10px;
	padding-top: 3px;
	padding-bottom: 1px;
}

#breadcrumb a {
	color: #535353;
	text-decoration: none;
	font-weight: 400;
}
#breadcrumb a:hover { color: #c25515; text-decoration: none; }


/* ------------------------------------------------------------
GUIDES TOC
------------------------------------------------------------ */

.guides-toc ul {
	list-style: none;
	margin: 16px 0px 20px 0px;
	padding: 10px 10px 12px 15px;
	background-color: #f6f8fb;
	border-left: 2px solid rgba(0,0,0,0.09);
	width: 50%;
	white-space: nowrap;
}

.guides-toc ul li, .guides-toc ul li a {
	margin: 3px 0px 1px 0px;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
}


/* ------------------------------------------------------------
NOTE BOXES
------------------------------------------------------------ */

.guide-notebox, .guide-notebox-imp {
	padding: 12px 16px 14px 15px;
	margin-top: 17px;
	margin-bottom: 17px;
	margin-left: 0px;
	overflow: auto;
}
.guide-notebox {
	background-color: #f6f8fb;
	border-left: 2px solid rgba(0,0,0,0.09);
}
.guide-notebox-imp {
	background-color: #fff5e7;
	border-left: 2px solid rgba(255,221,179,1);
}

.guide-notebox ul, .guide-notebox ol, .guide-notebox-imp ul, .guide-notebox-imp ol {
	margin-top: 12px;
	margin-bottom: 0px;
	padding: 0px;
}
.guide-notebox li, .guide-notebox-imp li {
	margin-top: 8px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding: 0px;
}
.guide-notebox ul li, .guide-notebox-imp ul li { margin-left: 4px; }
.guide-notebox p, .guide-notebox-imp p {
	margin-top: 8px;
	margin-bottom: 1px;
	padding: 0px 0px 1px 0px;
}
.guide-notebox li p, .guide-notebox-imp li p {
	margin-top: 0px;
	margin-bottom: 0px;
}

.notebox-title {
	font-size: 115%;
	color: #46487e;
	margin-bottom: 8px;
	padding-bottom: 3px;
	border-bottom: 1px solid rgba(0,0,0,0.09);
	text-decoration: none;
}
.notebox-title a, .notebox-title a:hover { text-decoration: none; color: #46487e; }

.notebox-title-imp {
	font-size: 115%;
	color: #c05000;
	margin-bottom: 8px;
	padding-bottom: 3px;
	border-bottom: 1px solid rgba(255,221,179,1);
	text-decoration: none;
}
.notebox-title-imp a, .notebox-title-imp a:hover { text-decoration: none; color: #c05000; }


/* ------------------------------------------------------------
IMAGE OR CODE BLOCK INDENTION
------------------------------------------------------------ */

.image-indent {
	margin-left: 29px;
}

.code-indent {
	margin-left: 29px;
	margin-right: 20px;
}


/* ------------------------------------------------------------
INNER TABLE STYLES (COMPARISON/FEATURE TABLES AND MISC.)
------------------------------------------------------------ */

.inner-table table {
	border-collapse: collapse;
	padding: 0px;
	margin: 12px 0px 18px 0px;
}

.inner-table table th {
	font-weight: 400;
	border-bottom: 1px solid #f0efef;
	margin: 0px;
	padding: 4px 16px 4px 16px;
	font-size: 110%;
	color: #888;
}

.inner-table table td {
	border-bottom: 1px solid #f4f3f3;
	margin: 0px;
	padding: 3px 16px 4px 16px;
	vertical-align: baseline;
}

.full-width table {
	width: 100%;
}

.vert-compact table td {
	padding: 1px 16px 2px 16px;
}

.percent50 table td {
	width: 50%;
}

.percent33 table td {
	width: 33%;
}

.percent25 table td {
	width: 25%;
}

.inner-table code {
	margin-bottom: 0px;
	margin-top: 0px;
}

.no-div-lines table td, .no-div-lines table th {
	border-bottom: 0px;
	padding-left: 0px;
}

.float-right {
	margin: 0px 0px 0px 20px;
	padding: 0px;
	float: right;
}

.float-right table {
	border-collapse: collapse;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.float-right table td {
	min-width: 32px;
	padding: 0px;
	border: 0px;
	text-align: center;
}

.float-right img {
	margin-top: 0px;
	margin-bottom: 0px;
}


/* ------------------------------------------------------------
FOR HD/RETINA DISPLAYS
------------------------------------------------------------ */

@media only screen and (min--moz-device-pixel-ratio: 2),

only screen and (-o-min-device-pixel-ratio: 2/1),

only screen and (-webkit-min-device-pixel-ratio: 2),

only screen and (min-device-pixel-ratio: 2) {

	body {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		color: #292929;
	}
	h1, h2, h3, h4, h5, h6 {
		color: #504e4e;
	}

	pre, code {
		font-family: "Cousine", "Monaco", monospace;
		-webkit-font-smoothing: subpixel-antialiased;
	}

	pre {
		border: 1px solid rgba(2,0,0,0.1);
		background-color: #fcfbfb !important;
		display: block;
		margin: 14px 0px 22px 0px;
		overflow: auto;
		padding: 8px 10px 5px 10px;
		white-space: pre;
	}

	code {
		border: 1px solid rgba(2,0,0,0.08);
		background-color: #fcfbfb !important;
		color: #444455 !important;
		padding: 2px 4px 0px 4px;
	}

	pre code {
		padding: 0;
		margin: 0px;
		border: none;
		overflow: visible;
	}
	code.lua { color: #3e7abe !important; font-weight: normal !important; }				/* default */
	code > span.kw { color: #3e7abe !important; font-weight: normal !important; }		/* " */
	code > span.dt { color: #3e7abe !important; font-weight: normal !important; }		/* " */
	code > span.dv { color: #8563bd !important; font-weight: normal !important; }		/* numbers */
	code > span.bn { color: #8563bd !important; font-weight: normal !important; }		/* " */
	code > span.fl { color: #8563bd !important; font-weight: normal !important; }		/* " */
	code > span.ch { color: #8563bd !important; font-weight: normal !important; }		/* " */
	code > span.st { color: #444455 !important; font-weight: normal !important; }		/* strings */
	code > span.co { color: #a9a9c0 !important; font-style: normal !important; }		/* comments */
	code > span.al { color: #a9a9c0 !important; font-weight: 400 !important; }			/* " */
	code > span.er { color: #a9a9c0 !important; font-weight: 400 !important; }			/* " */
	code > span.ot { color: #444455 !important; font-style: normal !important; }		/* operators */
	code > span.fu { color: #3e7abe !important; font-style: normal !important; }		/* ? */
	
	a, a code {
		color: #325baa;
		text-decoration: underline;
		white-space: nowrap;
	}
}
